{% extends "layout.html" %}

{% block content %}


<head>
    <title>My dogs pictures </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container-fluid">
        
        <div class="container-fluid">
            <!-- Control the column width, and how they should appear on different devices -->
            <div class="row">
                <div class="col-sm-6" style="background-color:yellow;">  <img src="https://cdn.discordapp.com/attachments/663275592225128470/663283014758825984/20191214_145001.jpg" alt="Oliver1" width="700" height="600"> </div>
                <div class="col-sm-6" style="background-color:orange;">
                    <img src="https://media.discordapp.net/attachments/663275592225128470/663282950728581130/20191214_150055.jpg?width=266&height=473" alt="Oliver2" width="500" height="600">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-sm-4" style="background-color:yellow;">
                    <a target="Oliver" href="Oliver3.jpg">
                        <img src="https://cdn.discordapp.com/attachments/663275592225128470/663283117879984133/SPOILER_20191204_163251.jpg" alt="Oliver3" width="500" height="400">
                    </a>
                </div>
                <div class="col-sm-4" style="background-color:orange;">
                    < target="Oliver" href="Oliver4.jpg">
                    

                        <img src="https://cdn.discordapp.com/attachments/663275592225128470/663283349233860608/20191112_160925.jpg" alt="Oliver4" width="500" height="400" >
                </div>
                <div class="col-sm-4" style="background-color:yellow;">
                    <a target="Oliver" href="Oliver5.jpg">
                        <img src="https://cdn.discordapp.com/attachments/663275592225128470/663283452833038346/20191017_194544.jpg" alt"Oliver5" width="800" height="500">
                    </a>
                </div>
            </div>
            <br>

            <!-- Or let Bootstrap automatically handle the layout -->
            <div class="row">
                <div class="col-sm" style="background-color:yellow;">
                    <a target="Oliver" href="Oliver6.jpg">
                        <img src="https://cdn.discordapp.com/attachments/663275592225128470/663283603114819584/IMG-20190801-WA0000.jpg" alt"Oliver6" width="400" height="900">
                    </a>
                </div>



            </div>
            <br>


        </div>
    </div>

</body>
<






{% endblock %}
